# Default ignored files
/../../ProjectPython_wynajmem_mieszkan /.idea/shelf/
/../../ProjectPython_wynajmem_mieszkan /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../ProjectPython_wynajmem_mieszkan /.idea/httpRequests/
# Datasource local storage ignored files
/../../ProjectPython_wynajmem_mieszkan /.idea/dataSources/
/../../ProjectPython_wynajmem_mieszkan /.idea/dataSources.local.xml
